<div class="w-100 p-2 ">
  <div class="row">
      <div class="col-md-3">
          <app-hacker-form></app-hacker-form>
      </div>
      <div class="col-md-9">
          <app-hacker-list></app-hacker-list>
      </div>
  </div>
</div>
<div class="home">
  <h1>L’idée de l’application</h1>
  <p>On souhaite concevoir une application web qui gère une liste d’IP à l’origine de requêtes malveillantes et qui tente de les géolocaliser via l’appel à un service distant, avec clé d’authentification.</p>
  <p>Dans notre contexte, on appelle Hacker une machine à l’origine d’une requête HTTP malveillante. Cela ne veut pas pour autant dire que l’action est intentionnelle, en référence aux machines zombies…​</p>
</div>
